.App {
  height: 100%;
}

.App canvas {
  height: 100vh;
  width: 100vw;
}

.App__instructions {
  position: absolute;
  left: 5px;
  top: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background: white;
}

.App__instructions p {
  margin: 10px;
}

.App__tooltip {
  position: absolute;
  background: white;
}